@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as b;

.product-card {
	min-height: 30.625rem;

	&__img-box {
		position: relative;
	}

	&__icon {
		background-color: v.$neutral-100;
		border-radius: 50%;
		padding: v.$padding-1;
		position: absolute;
		right: 15px;
		top: 15px;
	}

	&__content-container {
		min-height: 8.375rem;
	}

	&__content {
		min-height: 5.75rem;
	}

	&__description-box {
		max-width: 12.5rem;
		min-height: 2.625rem;
	}

	&__heading {
		font-size: v.$fz-xl;
		line-height: 1;
	}

	&__text {
		font-size: v.$fz-md;
		line-height: 1.6;
	}

	&__link {
		color: v.$primary-200;
		cursor: pointer;
		font-size: v.$fz-sm;
		font-weight: v.$font-bold;
		letter-spacing: 0.09em;
		text-align: center;
		text-decoration: none;
		word-spacing: 0.125em;

		&:hover > .fa-arrow-right-long {
			transform: translateX(20px);
		}
	}
}

.fa-arrow-right-long {
	margin-left: v.$margin-1;
	transition: 0.3s transform;
	width: 0.875rem;
}

@include b.respond-to('small') {
	.product-card {
		min-height: 33.125rem;

		&__content-container {
			min-height: 6.25rem;
		}

		&__content {
			min-height: 4.375rem;
		}

		&__heading {
			font-size: v.$fz-md;
		}

		&__text {
			font-size: v.$fz-sm;
			line-height: 2.4;
		}

		&__link {
			font-size: v.$fz-xs;
		}
	}
}
