@use '../abstracts/variables' as v;

.product-card {
    align-items: center;
    // gap: v.$gap-md;

    &__img-box {
        position: relative;
    }

&__icon {
    background-color: v.$neutral-100;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right: 15px;
    top: 15px;
}

&__description-box {
    max-width: 12.5rem;
}

&__heading {
    font-size: v.$fz-xl;
    line-height: 1.06;
}

&__text {
    font-size: v.$fz-md;
    line-height: 1.6;
}

&__link {
    color: v.$primary-200;
    cursor: pointer;
    font-size: v.$fz-sm;
    font-weight: 700;
    letter-spacing: 0.09em;
    text-decoration: none;
    word-spacing: 2px;

    &:hover > .fa-arrow-right-long {
        transform: translateX(20px);
           }    
}
}

.fa-arrow-right-long {
    margin-left: 8px;
    transition: 0.3s transform;
    width: 14px;
}