@use '../abstracts/variables' as v;

.wrapper {
	margin: v.$margin-8 v.$margin-5;
	max-width: 67.5rem;
}

/*DISPLAY, DIRECTION*/

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.grid {
	display: grid;
}

.grid-cols-1 {
	grid-template-rows: 1fr;
}

/*GAPS*/

.gap-1 {
	gap: v.$gap-1;
}

.gap-8 {
	gap: v.$gap-8;
}

/*ALIGNMENT*/

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

@media screen and (min-width: v.$small) {
	/*DISPLAY, DIRECTION, GRID-TEMPLATE*/

	.grid-cols-2-sm {
		grid-template-columns: 1fr 1fr;
	}

	/*GAPS*/

	.gap-2-sm {
		gap: v.$gap-2;
	}
}

@media screen and (min-width: v.$medium) {
	.grid-cols-3-md {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: v.$large) {
	.wrapper {
		margin: v.$margin-7;
	}

	/*DISPLAY, DIRECTION, GRID-TEMPLATE*/

	.flex-reverse-lg {
		flex-direction: column-reverse;
	}

	/*GAPS*/

	.gap-9-lg {
		gap: v.$gap-9;
	}

	.gap-12-lg {
		gap: v.$gap-12;
	}

	/*ALIGNMENT*/

	.self-end-lg {
		align-self: flex-end;
	}

	.self-start-lg {
		align-self: flex-start;
	}
}
