@use '../abstracts/variables' as v;

body {
	color: v.$primary-100;
	font-family: v.$font-family;
	font-weight: v.$font-light;
	letter-spacing: -0.05em;
	text-align: center;
}

.sr-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
