//FONT SIZES
$fz-sm: 0.875rem;
$fz-md: 1rem;
$fz-xl: 1.3125rem;

//FONT-WEIGHTS
$font-light: 300;


//FONT-FAMILY
$font-family: 'Roboto', sans-serif;

//COLORS
$neutral-100: #ffffff;
$primary-100: #232323;
$primary-200: #c39d5f;

//MARGINS
$margin-s: 30px;

//GAPS
$gap-xs: 4px; 
$gap-sm: 14px; 
$gap-md: 24px;
$gap-xl: 54px;
