//FONT SIZES
$fz-sm: 0.875rem;
$fz-md: 1rem;
$fz-xl: 1.3125rem;

//FONT-WEIGHTS
$font-light: 300;


//FONT-FAMILY
$font-family: 'Roboto', sans-serif;

//COLORS
$neutral-100: #ffffff;
$primary-100: #232323;
$primary-200: #c39d5f;

//MARGINS
$margin-xs: 20px;
$margin-s: 30px;
$margin-md: 44px;

//GAPS
$gap-6: 24px;
$gap-7: 26px;
$gap-8: 28px;

